In [2]:
tu = (23, 'abc', 4.56, (2,3), 'def')
li = ["abc", 34, 4.34, 23]
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line
string that uses triple quotes."""

In [3]:
tu[1]

'abc'

In [5]:
li[1]

34

In [6]:
st = "Hello World"
st[1]

'e'

In [7]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1]

'abc'

In [8]:
t[-3]

4.56

In [9]:
t[1:4]

('abc', 4.56, (2, 3))

In [10]:
t[1:-1]

('abc', 4.56, (2, 3))

In [11]:
t[1:-1:2]
# :2는 특정 인덱스를 탐색 후 2칸째에 있는 인덱스를 탐색한다는 뜻

('abc', (2, 3))

In [12]:
t[:2]

(23, 'abc')

In [13]:
t[2:]

(4.56, (2, 3), 'def')

In [14]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [5]:
li1 = ["abc", 34, 4.34, 23]
li2 = ["abd", 31, 4.32, 20]
li1 = li2
print(li1)
li2 = li1[:]
print(li2)

['abd', 31, 4.32, 20]
['abd', 31, 4.32, 20]

In [6]:
t = [1,2,4,5]
print(3 in t, 4 in t, 4 not in t)
a = 'abcde'
print('c' in a, 'cd' in a, 'ac' in a)

False True False
True True False

In [7]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [8]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [9]:
"Hello" + " " + "World"

'Hello World'